{% extends 'base2.html.twig' %}

{% block title %}New Conge{% endblock %}

{% block body %}
  <style>
  
  .centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);
   
  }
</style> 
 <div class="centered-text">
 

  <div class="container">
        <div class="row">
            <div class="col-md-1 offset-md-10">
    <h1>Create new Conge</h1>
          
    
    {{ include('conge/_form.html.twig') }}

    <a href="{{ path('app_conge_index') }}">back to list</a>
         </div>
        </div>
    </div>
    </div>
{% endblock %}
