{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}

<style>
.error-message{
   color: red;
}


.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 55%;
    left: 66%;
    transform: translate(-50%, -50%);




</style>

   

	   <section class="contact-section spad">
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">





	<div class="contact-form">


{% if is_granted('ROLE_USER') %}




    {{ include('reclamation/_form.html.twig') }}





{% else %}


	<h1 style="color:white;" > Login to see this page </h1>

{% endif %}










<br/>
<br/>


{% endblock %}
