{% extends 'base.html.twig' %}

{% block title %}Edit Livraison{% endblock %}

{% block body %}
    <h3>Edit Livraison</h3>

    {{ include('livraison/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
