{% extends 'baseB.html.twig' %}

{% block body %}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 100px;
    }
</style>
<div id="piechart" style="width: 500px; height: 300px; margin-bottom: 20px;"></div>
    <div id="barchart" style="width: 500px; height: 300px; margin-bottom: 20px;"></div>
  

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieChart);
        google.charts.setOnLoadCallback(drawBarChart);

        function drawPieChart() {
            var data = google.visualization.arrayToDataTable([
                ['cours', 'Nombre d\'Coaching'],
                {% for cours, count in counts %}
                    ['{{ cours }}', {{ count }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Répartition des produits par marque',
                is3D: true,
                width: 500,
                height: 300
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        function drawBarChart() {
            var data = google.visualization.arrayToDataTable([
                ['cours', 'Nombre d\'Coaching'],
                {% for cours, count in counts %}
                    ['{{ cours }}', {{ count }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Nombre des produits de chaque marques',
                legend: { position: 'none' },
                bars: 'vertical',
                vAxis: { format: 'decimal' },
                height: 300,
                width: 500,
                colors: ['#1b9e77']
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('barchart'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}