
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Total des produits</h4>
      <p class="lead">{{ totalProduits }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Produits par catégorie</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Catégorie</th>
            <th>Nombre de produits</th>
          </tr>
        </thead>
        <tbody>
          {% for categorie in ProduitCategories %}
            <tr>
              <td>{{ categorie.nom }}</td>
              <td>  {{ categorie.ProduitCount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


