{% extends 'baseBack.html.twig' %}

{% block title %}Edit CommandeItem{% endblock %}

{% block body %}
    <h1>Edit CommandeItem</h1>

    {{ include('commande_item/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
