{% extends 'baseBack.html.twig' %}

{% block title %}New CommandeItem{% endblock %}

{% block body %}
    <h1>Create new CommandeItem</h1>

    {{ include('commande_item/_form.html.twig') }}

{% endblock %}
