{% extends 'base2.html.twig' %}

{% block title %}New Sujet{% endblock %}

{% block body %}
<style>
  .centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);

  }
</style>
   <div class="centered-text">

	<div class="container">
        <div class="row">
            <div class="col-md-1 offset-md-10">
					
					
    <h1>Ajouter un sujet</h1>

    {{ include('sujet/_form.html.twig') }}

    <a href="{{ path('app_sujet_index') }}">back to list</a>
	
	
	
	
	
	
	
							
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
	</div>
	
{% endblock %}

