{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <style>
    h1 {
    text-align: center;
    margin-top: -80px;
    margin-right: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 5rem;
    color: white;
    }
    .button {
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button3 {background-color:#6BB675;} /*mauve*/
    </style>
            <section class="trainer-section spad">
                <h1 style="color: white;">List Cours</h1>

                <form class="d-flex align-items-center col-12 col-md-8 col-lg-3">
        <span class="position-absolute pl-3 search-icon">
            <i class="fe fe-search"></i>
        </span>
                    <input type="search" id="myInput" class="form-control pl-6" placeholder="Search" />
                </form>

                <div class="container-fluid">
                    <div class="row" id="myTable">
                        {% for cour in cours %}
                            <div class="col-md-4">
                                <div class="feature-item set-bg">
                                    <td><img src="{{ asset('/media/' ~ cour.getImageCours()) }}?t={{ date().getTimestamp() }}" alt="cours image"  width="150" height="100"></td>

                                    <p style="color:#E43434"><br /> {{ cour.nom }}</p>
                                    <a href="{{ path('app_ListFront_cours', {'id': cour.id}) }}" class="btn btn-primary">View details</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                    $("#myInput").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $("#myTable > .col-md-4").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>

            {% endblock %}





















































